body {
  padding: 25px 0;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.svg {
  width: 400px;
  height: 300px;
  border: 1px solid;
}

.text {
  font-size: 14px;
  fill: black;
}

.svg-text {

}

.rect {
  fill: none;
  stroke: brown;
  stroke-width: 5px;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  transition: all 0.5s ease-in-out;
}

.svg-rect:hover .rect {
  stroke-dashoffset: 0;
}

.img {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.img2{
  clip-path: url("#apple")
}